@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Chelsea+Market&family=Montserrat&family=Nunito:wght@300&family=Quattrocento&family=Roboto+Mono:wght@400;700&family=Satisfy&display=swap");
body {
  font-family: "Nunito", sans-serif;
}

.paginate {
  display: flex;
  align-items: center;
  justify-content: end;
}

.paginate li {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(191, 201, 169);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginate li :hover {
  color: orange;
}
